.header {
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, $dark-red -46.69deg, $middle-blue 32.24deg, $dark-red 313.31deg, $middle-blue 392.24deg);

  @media (max-width: $vp-1199) {
    background: conic-gradient(from 155.49deg at 20.7% 35.74%, $maroon-red -46.69deg, $middle-blue 32.24deg, $dark-red 313.31deg, $middle-blue 392.24deg);
  }

  @media (max-width: $vp-767) {
    background: conic-gradient(from 167.26deg at 35.31% 34.22%, $dark-red -46.69deg, $middle-blue 32.24deg, $dark-red 313.31deg, $middle-blue 392.24deg);
  }
}

.header__container {
  margin: 0 auto;
  max-width: 1160px;
  padding-top: 30px;

  @media (max-width: $vp-1199) {
    padding: 40px 45px 82px;
  }

  @media (max-width: $vp-767) {
    padding: 20px 15px 80px;
    max-width: 737px;
  }
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $vp-1199) {
    margin-bottom: 25px;
  }
}

.header__logo {
  align-self: center;

  & img {
    @media (max-width: $vp-1199) {
      display: block;
      width: 82px;
      height: 17px;
    }

    @media (max-width: $vp-767) {
      width: 69px;
      height: 24px;
    }
  }
}

.header__link {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: $tel-color;
  place-self: end;

  @media (max-width: $vp-1199) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  @media (max-width: $vp-767) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.header__wrapper {
  display: flex;
  margin-bottom: 51px;

  @media (max-width: $vp-1199) {
    margin-bottom: 0;
  }
}

.header__info {
  display: grid;
  grid-template-columns: 120px 260px;
  grid-template-rows: 65px 270px 60px;
  margin-right: 65px;
  margin-top: 98px;

  @media (max-width: $vp-1199) {
    grid-template-columns: 120px 200px;
    grid-template-rows: 40px 211px 60px;
    margin-top: 57px;
    margin-right: 5%;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: auto auto;
    grid-template-rows: 40px 180px 60px;
    margin-right: 0;
  }

  & h1 {
    font-family: $ff-alumni;
    font-weight: 800;
    font-size: 92px;
    line-height: 110px;
    color: $tel-color;
    margin: 0;
    grid-column: 2/3;
    text-align: right;
    grid-row: 2/3;
    letter-spacing: 0.5px;

    @media (max-width: $vp-1199) {
      font-size: 72px;
      line-height: 86px;
    }

    @media (max-width: $vp-767) {
      transform: translateX(-15px);
    }
  }

  & h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: $tel-color;
    margin: 0;
    text-transform: uppercase;
    grid-column: 2/3;
    margin-left: 110px;

    @media (max-width: $vp-1199) {
      font-size: 34px;
      line-height: 40px;
    }

    @media (max-width: $vp-767) {
      font-size: 28px;
      line-height: 33px;
    }
  }

  & span {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $tel-color;
    margin: 0;
    grid-column: 1/2;
    text-align: right;
    margin-top: 120px;

    @media (max-width: $vp-767) {
      margin-top: 75px;
    }
  }
}

.header__link-info {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $tel-color;
  margin: 0;
  border: 4px solid #ffffff;
  padding: 18px 56px;
  grid-column: 2/3;
  text-align: center;
  width: 230px;
  place-self: end;

  @media (max-width: $vp-1199) {
    width: 183px;
    padding: 17px 16px;
  }

  @media (max-width: $vp-767) {
    grid-column: 1/3;
    width: 100%;
  }
}

.header__image-container {
  & img {
    @media (max-width: $vp-767) {
      display: none;
    }
  }
}
