.promo-games {
  padding: 120px 20px 106px;

  @media (max-width: $vp-1199) {
    padding: 100px 45px;
  }
}

.promo-games__wrapper {
  display: flex;
  justify-content: center;
}

.promo-games__inner {
  padding: 85px 78px 87px;
  background-color: $link-red;
  color: $tel-color;
  display: grid;
  grid-template-columns: 201px auto;
  gap: 50px;
  row-gap: 0;

  @media (max-width: $vp-1199) {
    padding: 51px 45px;
    grid-template-columns: 117px auto;
    column-gap: 29px;
  }

  & h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 82px;
    line-height: 79px;
    grid-column: 1/2;
    margin: 0;

    @media (max-width: $vp-1199) {
      font-size: 48px;
      line-height: 46px;
    }
  }

  & p {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    grid-column: 1/-1;
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $vp-1199) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 18px;
    }
  }
}

.promo-games__list {
  grid-column: 2/3;
  margin: 0;

  & dt {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0;

    @media (max-width: $vp-1199) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  & dd {
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    display: flex;
    gap: 7px;

    @media (max-width: $vp-1199) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  & small {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 9px;
    position: relative;
    margin-bottom: 13px;

    @media (max-width: $vp-1199) {
      font-size: 10px;
      line-height: 10px;
      margin-top: 5px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: -5px;
      left: -29px;
      height: 1px;
      width: 64px;
      background-color: $tel-color;

      @media (max-width: $vp-1199) {
        width: 42px;
        top: -3px;
        left: -20px;
      }
    }

    &::after {
      width: 88px;
      top: 14vh;

      @media (max-width: $vp-1199) {
        width: 56px;
        top: 15vh;
      }
    }
  }
}

.promo-games__link {
  grid-column: 1/-1;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $tel-color;
  text-transform: uppercase;
  padding: 22px 114px;
  border: 4px solid $tel-color;
  margin-top: 5px;
  text-align: center;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 12px;
    padding: 16px;
    border-width: 2px;
  }
}
