.reviews {
  padding-bottom: 120px;

  @media (max-width: $vp-1199) {
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 67px;
  }

  & h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    color: $text-color;
    text-align: center;
    margin: 0;
    margin-bottom: 31px;

    @media (max-width: $vp-767) {
      font-size: 35px;
      line-height: 30px;
      margin-bottom: 46px;
    }
  }
}

.reviews__swiper {
  width: 672px;
  margin: 0 auto;

  @media (max-width: $vp-767) {
    width: 96vw;
    margin: 0;
  }
}

.reviews__slide-container {
  background-color: $border;
  padding: 62px;
  display: flex;
  gap: 28px;
  width: 560px;
  transform: translateX(50px);

  @media (max-width: $vp-1199) {
    width: 566px;
    padding: 62px 60px 52px 67px;
  }

  @media (max-width: $vp-767) {
    //width: 226px;
    width: 71vw;
    padding: 40px 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.reviews__slide-image {
  @media (max-width: $vp-767) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.reviews__slide-info {
  font-family: $ff-roboto;
  color: $tel-color;

  @media (max-width: $vp-767) {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-columns: 69px auto;
    gap: 27px;
    row-gap: 12px;
    grid-template-areas:
      ". title"
      "text text";
  }

  & h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 13px;

    @media (max-width: $vp-767) {
      grid-area: title;
      margin-top: 5px;
    }
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;

    @media (max-width: $vp-767) {
      text-align: center;
      grid-area: text;
    }
  }
}

.reviews__button--next,
.reviews__button--prev {
  display: block;
  color: transparent;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 23px;
    height: 23px;
    border: 1px solid $arrow-grey;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);

    @media (max-width: $vp-767) {
      width: 17px;
      height: 19px;
      left: 15px;
    }
  }
}

.reviews__button--next::before {
  transform: rotate(222deg);
  right: -4px;

  @media (max-width: $vp-767) {
    right: -4px;
    left: auto;
  }
}

.reviews__slide-image img {
  margin-top: 10px;
  max-width: none;

  @media (max-width: $vp-1199) {
    margin: 0;
  }

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
    margin-left: 12px;
  }
}
