.subscriptions {
  background-color: $bg-color;
  padding: 120px 103px;
  position: relative;
}

.subscriptions__wrapper {
  ///////////////
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;

  & h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    color: $text-color;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
  }
}

.subscriptions__tabs {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  justify-content: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 36%;
    bottom: -15px;
    height: 2px;
    width: 341px;
    background-color: $tabs-line-grey;
  }
}

.subscriptions__tabs-button {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $tabs-grey;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &.is-active {
    opacity: 1;
    pointer-events: none;
    color: $text-color;

    &::before {
      position: absolute;
      content: "";
      left: 5%;
      bottom: -15px;
      height: 2px;
      width: 100%;
      background-color: $border-red;
    }
  }
}

.subscriptions__wrapper-list {
  /////////////////
  transition: height 0.3s;
}

.subscriptions__list {
  list-style-type: none;
  margin: 0;
  margin-top: 39px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
  //////////////
  width: 100%;
}

.subscriptions__item {
  background-color: #ffffff;
  padding: 68px 77px;

  & h3 {
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    color: $text-color;
    text-align: center;
    margin: 0;
    margin-bottom: 22px;
  }

  & h4 {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $title-color;
    text-align: center;
    margin: 0;
    margin-bottom: 96px;
  }

  &:focus,
  &:focus-within,
  &:hover {
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 7px solid $border-red;
      border-image: linear-gradient(to left top, $border-blue, $border-red);
      border-image-slice: 1;
      pointer-events: none;
    }
  }
}

.subscriptions__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 57px;

  & span {
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $price;
    text-align: center;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      content: attr(data-text);
      font-family: $ff-roboto;
      font-weight: 700;
      font-size: 100px;
      line-height: 150px;
      color: $text-shadow;
      top: -50px;
      left: -30px;
      z-index: -1;
    }
  }

  & svg {
    z-index: 1;
  }
}

.subscriptions__link {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $text-color;
  text-transform: uppercase;
  padding: 23px 45px;
  border: 2px solid $border;
  display: block;

  &:hover,
  &:focus {
    border: none;
    padding: 27px 45px;
    color: $tel-color;
    background: linear-gradient(97.05deg, $link-red 17.6%, $link-blue 95.31%);
  }
}

.subscriptions__image {
  position: absolute;
  bottom: -166px;
  right: 0;
}
