@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/alumni-semibold.woff2") format("woff2"),
    url("../fonts/alumni-semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/alumni-bold.woff2") format("woff2"),
    url("../fonts/alumni-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/alumni-extrabold.woff2") format("woff2"),
    url("../fonts/alumni-extrabold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
  font-display: swap;
}
